body{
    background-color: #D7D0C8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #96a78d;
}

.links{
    background-color: #96a78d;
}

a{
    color: #BD897e;
}

.ingredients{
    /* Dit zijn de ingredienten */
    background-color: #BD897e;
}

.directions{
    background-color: #96a78d;
}